In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('trip_data_4.csv')

C:\Users\HP\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data.head()

,medallion,hack_license,vendor_id,rate_code,store_and_fwd_flag,pickup_datetime,dropoff_datetime,passenger_count,trip_time_in_secs,trip_distance,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude
0,91F6EB84975BBC867E32CB113C7C2CD5,AD8751110E6292079EB10EB9481FE1A6,CMT,1,N,2013-04-04 18:47:45,2013-04-04 19:00:25,1,759,2.5,-73.957855,40.765320,-73.976273,40.785648
1,EC34CD1B3797DFAFF3FE099BA87B6656,8FE6A4AEDF89B6B4E19D2377FD3FB7D7,CMT,1,N,2013-04-05 07:08:34,2013-04-05 07:17:34,1,540,1.6,0.000000,0.000000,0.000000,0.000000
2,C1B9DA774DC2BBC6DE27CE994E7F44A0,E1B595FD55E4C82C1E213EB17438107A,CMT,1,N,2013-04-04 17:59:50,2013-04-04 18:21:48,1,1318,3.6,-73.982880,40.754990,-74.009186,40.715374
3,9BA84250355AB3FC031C9252D395BF8A,16BB0D96A0DCC853AEC7F55C8D6C71E0,CMT,1,N,2013-04-04 18:12:01,2013-04-04 18:25:24,1,799,1.9,-73.978119,40.763451,-73.955666,40.776642
4,205A696DF62AD03C88DA8C5EC5248639,579C41EA5EC846F8B641A42F9EE3E855,CMT,1,N,2013-04-04 20:12:57,2013-04-04 20:29:55,1,1017,3.6,-74.006371,40.744755,-73.961662,40.761082

In [4]:
data[' pickup_datetime'].head()

0    2013-04-04 18:47:45
1    2013-04-05 07:08:34
2    2013-04-04 17:59:50
3    2013-04-04 18:12:01
4    2013-04-04 20:12:57
Name:  pickup_datetime, dtype: object

In [12]:
urutan_data = data[' pickup_datetime'].sort_values()

In [21]:
data.groupby([' pickup_datetime'])[' pickup_datetime'].value_counts().sort_values(ascending=False).head(5)

 pickup_datetime      pickup_datetime
2013-04-19 22:41:00  2013-04-19 22:41:00    439
2013-04-20 23:16:00  2013-04-20 23:16:00    422
2013-04-20 22:33:00  2013-04-20 22:33:00    419
2013-04-19 22:44:00  2013-04-19 22:44:00    419
2013-04-26 19:30:00  2013-04-26 19:30:00    419
2013-04-26 19:26:00  2013-04-26 19:26:00    416
2013-04-19 22:43:00  2013-04-19 22:43:00    413
2013-04-19 22:40:00  2013-04-19 22:40:00    412
2013-04-19 22:45:00  2013-04-19 22:45:00    410
2013-04-20 23:27:00  2013-04-20 23:27:00    410
2013-04-26 19:46:00  2013-04-26 19:46:00    409
2013-04-21 00:10:00  2013-04-21 00:10:00    409
2013-04-26 19:22:00  2013-04-26 19:22:00    408
2013-04-20 19:26:00  2013-04-20 19:26:00    407
2013-04-20 22:57:00  2013-04-20 22:57:00    406
2013-04-19 22:42:00  2013-04-19 22:42:00    401
2013-04-19 19:21:00  2013-04-19 19:21:00    401
2013-04-26 18:48:00  2013-04-26 18:48:00    400
2013-04-26 19:34:00  2013-04-26 19:34:00    399
2013-04-26 22:55:00  2013-04-26 22:55:00    398
2013-04-20 23:04:00  2013-04-20 23:04:00    398
2013-04-20 19:44:00  2013-04-20 19:44:00    398
2013-04-25 19:03:00  2013-04-25 19:03:00    397
2013-04-20 23:55:00  2013-04-20 23:55:00    397
2013-04-20 22:15:00  2013-04-20 22:15:00    397
2013-04-20 19:13:00  2013-04-20 19:13:00    396
2013-04-20 18:51:00  2013-04-20 18:51:00    396
2013-04-26 20:38:00  2013-04-26 20:38:00    395
2013-04-25 20:18:00  2013-04-25 20:18:00    394
2013-04-20 20:43:00  2013-04-20 20:43:00    394
2013-04-26 18:58:00  2013-04-26 18:58:00    393
2013-04-20 22:29:00  2013-04-20 22:29:00    393
2013-04-20 23:32:00  2013-04-20 23:32:00    393
2013-04-20 20:51:00  2013-04-20 20:51:00    392
2013-04-24 19:17:00  2013-04-24 19:17:00    392
2013-04-20 19:06:00  2013-04-20 19:06:00    392
2013-04-27 22:43:00  2013-04-27 22:43:00    391
2013-04-26 22:38:00  2013-04-26 22:38:00    391
2013-04-21 00:06:00  2013-04-21 00:06:00    391
2013-04-20 23:28:00  2013-04-20 23:28:00    391
2013-04-25 20:02:00  2013-04-25 20:02:00    390
2013-04-20 23:41:00  2013-04-20 23:41:00    390
2013-04-19 23:41:00  2013-04-19 23:41:00    390
2013-04-26 19:35:00  2013-04-26 19:35:00    389
2013-04-23 19:03:00  2013-04-23 19:03:00    389
2013-04-25 20:35:00  2013-04-25 20:35:00    389
2013-04-26 18:46:00  2013-04-26 18:46:00    389
2013-04-19 19:07:00  2013-04-19 19:07:00    389
2013-04-27 19:23:00  2013-04-27 19:23:00    389
2013-04-20 22:52:00  2013-04-20 22:52:00    389
Name:  pickup_datetime, dtype: int64

In [23]:
# 5 jam tersibuk teratas dalam sehari adalah : 
# 2013-04-19 22:41:00  2013-04-19 22:41:00    439
# 2013-04-20 23:16:00  2013-04-20 23:16:00    422
# 2013-04-20 22:33:00  2013-04-20 22:33:00    419
# 2013-04-19 22:44:00  2013-04-19 22:44:00    419
# 2013-04-26 19:30:00  2013-04-26 19:30:00    419